.contactSection {
  background-color: var(--purple-rasp-yogurt);
  padding: 80px 24px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}
.contentWrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 476px;
}
.headingContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nameInputs {
  display: flex;
  gap: 32px;
}

.image {
  height: 701px;
  width: 576px
}

.formInputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.formItem {
  align-self: stretch !important;
}

.alignLeft {
  width: 100%;
  padding-bottom: 24px;
}

@media screen and (max-width:430px) {
  .contactSection {
    min-width: 375px;
  }

  .image {
    display: none;
  }
  .nameInputs{
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

 .button {
  text-align: center;
 }

}