
.section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--gray-black, #000);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    padding: 141px;
}

.content {
    display: flex;
    align-items: center;
    gap: 182px;
    width: 953px;
}

.container {
    display: flex;
    height: 1546px;
    padding-bottom: var(--spacing-spacing-10, 64px);
    flex-direction: column;
    align-items: center;
    gap: 160px;
}

.textTitle {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.typography {
    color: var(--gray-gray-8, #595959);
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
    padding: 32px;
}

@media only screen and (max-width: 430px) {
    .section {
        flex-direction: column;
        height: 100%;
        padding: 20px 16px;
        gap: 20px;
    }

    .title {
        font-size: 20px;
        line-height: 32px;
        padding: 0;
    }

    .container {
        width: 100%;
        padding: 0;
        gap: 32px;
    }

    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 16px;
        width: 100%;
        padding: 16px;
    }

    .textTitle {
        flex-direction: column;
        align-items: center;
    }

    .typography {
        padding: 16px;
    }
}
