.section {
  display: flex;
  justify-content: center;
  gap: var(--spacing-07);
  margin: var(--spacing-12) 0;
}

.cardContent {
  text-align: center;
  margin: var(--spacing-09) auto;
  max-height: 208px;
}

.textContainer {
  width: 278px;
  /* height: auto; */
  /* text-align: center; */
  margin: auto;
}

@media only screen and (max-width: 375px) {
  .section {
    flex-direction: column;
  }
}
