.card {
  width: 348px;
  height: 520px;
}
.textContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cardNamePronouns {
  display: flex;
  gap: 4px;
}
.cardJobTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tagsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.icon {
  color: var(--neutral7);
}

.tagWrapper {
  display: flex;
}

/* how to apply media queries on MentorCard img */
/* @media screen and (max-width: 430px) {
  .cardImg {
    width: 250px;
    height: 255px;
  }
} */
