/* .container1 {
    display: grid;
    grid-template-columns: 220px 200px ; 
  
    grid-column-gap: 184px;
}


.input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 14px;
    gap: 8px;

    width: 300px;
    height: 44px;

    background: #FFFFFf;
    border: 1px solid #D4D0DD;
    box-shadow: 0px 1px 2px rgba(16,24,40,0.05);
    border-radius: 12px;
}

.signupbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 12px;

    width: 315px;
    height: 44px;

    background: #8145b5;
    border: 1px solid #8145b5;
    box-shadow: 0px 1 px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
}



.googlebtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 12px;

    width: 315px;
    height: 44px;

    background: #FFFFFf;
    border: 1px solid #d4d0dd;
    box-shadow: 0px 1 px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    
} */

.divider {
  background-color: none;
}

/* .ant-modal .ant-modal-content {
  overflow: hidden;
} */

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.textContent {
  padding: 24px;
}
.titleContainer {
  text-align: center;
}
