.section {
    display: flex;
    /* width: 1440px; */
    height: 306px;
    padding: 62px 0px 80px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-spacing-06, 24px);
    flex-shrink: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-spacing-07, 32px);
}

.title {
    color: var(--purple-purple-8, #69388f);

    /* Headers/H1 */
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 57px */
}

.typography {
    color: var(--gray-gray-8, #595959);

    /* Text Body/regular */
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
@media only screen and (max-width: 430px) {
    .section {
        flex-direction: column;
        padding: 20px 16px;
        gap: 20px;
    }

    .title {
        font-size: 24px;
        line-height: 32px;
    }

    .container {
        width: 100%;
        padding: 0;
        gap: 32px;
    }

    .typography {
        padding: 16px;
    }
}

