.sectionWrapper {
  background-color: var(--primary0);
  padding: 46px 24px 87px;
  display: flex;
  flex-direction: column;
  gap: 78px;
  align-items: center;
}

.testimonials {
  display: flex;
  gap: 15px;
}
.testimonialCard {
  padding: 18px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardHeadingContainer {
  display: flex;
  flex-direction: column;
}
