/* @import "antd/dist/antd.css"; */
/* @import "antd/dist/reset.css"; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* -------- Typography */

/* Body Text */
p {
  font-weight: 400;
  font-size: 16px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 133%;
}
/* Heading */
h1.ant-typography {
  font-size: 38px;
  line-height: 121.5% !important;
}
h2.ant-typography {
  font-size: 30px;
  line-height: 133% !important;
}
h3.ant-typography {
  font-size: 24px;
  line-height: 133% !important;
}

/* Font-weights */
.mediumWeight {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/* Font-sizes */
.textLarge {
  font-size: 20px;
  line-height: 140%;
}

/* Font Styles */
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.footnote {
  font-size: 14px;
  line-height: 143%;
}

/* Text Colors */
.textInverse {
  color: var(--white);
}
.textPrimary8 {
  color: var(--primary8);
}

/* Responsive Heading and Text font-sizes */
/* Mobile */

@media screen and (max-width: 430px) {
  /* Headings */
  h1.ant-typography {
    font-size: 24px;
    line-height: 133% !important;
  }
  h2.ant-typography {
    font-size: 20px;
    line-height: 160% !important;
  }
  h3.ant-typography {
    font-size: 18px;
    line-height: 178% !important;
  }
  /* Text */
  .ant-typography.textLarge {
    font-size: 16px;
    line-height: 150%;
  }
  .ant-typography {
    font-size: 14px;
    line-height: 143%;
  }
}

/* -------- Buttons */

/* -- Primary */
button.ant-btn.ant-btn-primary {
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary:not([disabled]):hover,
button.ant-btn.ant-btn-primary:not([disabled]):focus {
  background-color: var(--primary6);
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary:not([disabled]):active {
  background-color: var(--primary7);
  border: 1px solid var(--primary7);
}
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):hover,
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):focus {
  background-color: transparent;
  color: var(--primary6);
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):active {
  background-color: transparent;
}

/* -- Default */
button.ant-btn.ant-btn-default:not([disabled]):hover,
button.ant-btn.ant-btn-default:not([disabled]):focus {
  border: 1px solid var(--primary5);
  color: var(--primary5);
}
button.ant-btn.ant-btn-default:not([disabled]):active {
  border: 1px solid var(--primary7);
  color: var(--primary7);
}

/* -- Dashed */
button.ant-btn.ant-btn-dashed:not([disabled]):hover,
button.ant-btn.ant-btn-dashed:not([disabled]):focus {
  border: 1px solid var(--primary5);
  color: var(--primary5);
}
button.ant-btn.ant-btn-dashed:not([disabled]):active {
  border: 1px solid var(--primary7);
  color: var(--primary7);
}

/* -- Link */
button.ant-btn.ant-btn-link:not([disabled]):hover,
button.ant-btn.ant-btn-link:not([disabled]):focus {
  color: var(--primary6);
}
button.ant-btn.ant-btn-link:not([disabled]):active {
  color: var(--primary7);
}

/* -- Text */
button.ant-btn.ant-btn-text:not([disabled]):hover,
button.ant-btn.ant-btn-text:not([disabled]):focus {
  background-color: var(--neutral2);
}
button.ant-btn.ant-btn-text:not([disabled]):active {
  background-color: var(--neutral3);
}

/* Button - line-height + font-size */
button.ant-btn {
  line-height: 150%;
}
button.ant-btn.ant-btn-lg {
  line-height: 140%;
  font-size: 20px;
}

/* -------- Input */
/* Hover  */
input.ant-input:hover,
.ant-input-number:hover {
  border: 1px solid var(--primary5);
}
/* Focus */
input.ant-input:focus,
input.ant-input-focused,
.ant-input-number:focus,
.ant-input-number-focused {
  border: 1px solid var(--primary5);
  box-shadow: 0px 0px 0px 2px rgba(120, 24, 255, 0.2);
}

/* Input - Line-height + font-size */
input.ant-input,
input.ant-input-number-input {
  font-size: 16px;
  line-height: 22px !important;
}

/* Input - TimePicker Large */
.ant-picker.ant-picker-large {
  height: 40px;
}

/* -------- Input Add-on */
/* Add-On - vertically aligns icon */
.ant-input-group-addon,
.ant-input-number-group-addon {
  line-height: 0;
}

/* Add-On - sets default color of icons; for custom colors you can define color 
prop inside the phosphor-react component */
.ant-input-group-addon > svg,
.ant-input-number-group-addon > svg {
  color: var(--character-disabled-placeholder);
}

/* Add-On - removes styling from input and addon when in a group*/
.ant-input-number-group > .ant-input-number,
.ant-input-group > .ant-input {
  border: none;
}
.ant-input-number-group > .ant-input-number:hover,
.ant-input-group > .ant-input:hover {
  border: none;
}
.ant-input-number-group > .ant-input-number:focus,
.ant-input-number-group > .ant-input-number-focused,
.ant-input-group > .ant-input:focus {
  border: none;
  box-shadow: none;
}
.ant-input-number-group > .ant-input-number-group-addon,
.ant-input-group > .ant-input-group-addon {
  border: none;
}

.ant-input-number-group > div.ant-input-number:first-child input,
.ant-input-group:first-child:is(input) {
  padding-right: 0px;
}
.ant-input-number-group > div.ant-input-number:last-child input,
.ant-input-group > .ant-input:last-child:is(input) {
  padding-left: 0px;
}

/* Add-on - adds border and box-shadow to ant-input-group + :hover and :focus states*/
.ant-input-wrapper.ant-input-group,
.ant-input-number-wrapper.ant-input-number-group {
  border-radius: var(--border-radius-base);
  border: 1px solid var(--neutral5);
}
.ant-input-wrapper.ant-input-group:hover,
.ant-input-number-wrapper.ant-input-number-group:hover {
  border: 1px solid var(--primary5);
}
.ant-input-wrapper.ant-input-group:focus-within,
.ant-input-number-wrapper.ant-input-number-group:focus-within {
  border: 1px solid var(--primary5);
  box-shadow: 0px 0px 0px 2px rgba(120, 24, 255, 0.2);
}

/* Add-on Search bar icon*/
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]) {
  border: none;
}
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]):hover,
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]):focus {
  border: none;
}

/* -------- Modals */
/* Close Button Icon */

/* -------- Space */

.space1 {
  gap: 16px;
}
.space2 {
  gap: 20px;
}

/* Media Queries for responsive design */
/* variables in variables.less take priority over globals.css 
If resizing will be required, variables in variables.less will have to be set to :none

ex. if h1 will need to resize from 38px to 30px on mobile, @heading-1-size in variables.less 
will need to be cleared using :none and h1.ant-typography be set in globals.
Alternatively, there may be a library that deals with resizing */
/* span.ant-typography {
  font-size: 16px;
}
span.ant-typography.textLarge {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  span.ant-typography {
    font-size: 12px;
  }
  span.ant-typography.textLarge {
    font-size: 18px;
  }
} */

/* @media screen and (max-width: 600px) {
  h2.ant-typography {
    font-size: 14px;
  }
} */

/* Styles to be moved in locally scoped files */
.nav_container {
  display: flex;
  gap: 60px;
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px 16px 32px;
}

.search_input:focus {
  background-color: #e9e6f0;
}
.primary_btn {
  background-color: #8d57d9;
  color: #fff;
  box-shadow: 0px 1px 2px 0px #101828;
}

.common_btn {
  border-radius: 12px;
  padding: 12px 20px 12px 20px;
  height: 48px;
}

.auth_btn {
  width: 99px;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 16.5px;
  width: 24.75px;
}
.hamburger_bdr {
  background-color: #706685;
  height: 2.5px;
}

.hamburger_bdr_2 {
  width: 22px;
  height: 2.5px;
}

.landing {
  background-image: url("/images/landing_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 5%;
  height: 792px;
}
.landing_title {
  width: 681px;
  height: 514px;
  background-image: url("/images/landing_title_bg.png");
  padding: 80px 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landing_title h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
  color: #62379e;
}

.transition {
  height: 248px;
  background-color: #7942c7;
  padding: 60px 190px;
  color: #ffffff;
}

.checkout_mentors {
  padding: 50px;
}

.checkout_mentors_title {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.mentor_card_section {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 70px 0 40px 0;
}

.mentor_card_section > div {
  width: 30%;
  border: 1px solid black;
  height: 200px;
  text-align: center;
}

.find_mentor_btn_section {
  display: flex;
  justify-content: center;
}

.find_mentor_btn {
  width: 368px;
  height: 60px;
  border-radius: 14px;
  font-size: 18px;
}

.testimonials {
  height: 910px;
  background: #f3ebff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 132px;
}

.image_slider_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider_show_case {
  /* width: fit-content; */
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.image_slider {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */

  transition: all 0.5s 0.2s ease;
}

.image_slider_left_arrow {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  font-size: 13.5px;
  cursor: pointer;
}
/* footer */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 px 48px;
  gap: 52px;

  width: 1600px;
  height: 400px;

  background-color: #62379e;
}

.image_slider_right_arrow {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  font-size: 13.5px;
  cursor: pointer;
}
