/* @import "antd/dist/antd.css"; */
/* @import "antd/dist/reset.css"; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* -------- Typography */

/* Body Text */
p {
  font-weight: 400;
  font-size: 16px;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 133%;
  margin: 0;
}
/* Heading */
h1.ant-typography,
div.ant-typography-h1 {
  font-size: 38px;
  line-height: 130% !important;
}
h2.ant-typography,
div.ant-typography-h2 {
  font-size: 30px;
  line-height: 130% !important;
}
h3.ant-typography,
div.ant-typography-h3 {
  font-size: 24px;
  line-height: 130% !important;
}
/* added in phase 4 */
h4.ant-typography,
div.ant-typography-h4 {
  font-size: 20px;
  line-height: 130% !important;
}

/* Subtitle */
.subtitle-regular{
  color: var(--character-secondary-55, rgba(0, 0, 0, 0.55));
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

/* Error messages */
.error-message{
  color: var(--dust-red-dust-red-7, #CF1322);
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

/* Font-weights */
.regularWeight {
  font-weight: 400;
}
.mediumWeight {
  font-weight: 500;
}
.semibold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}

/* Font-sizes */
.textLarge {
  font-size: 20px;
  line-height: 140%;
}

/* Font Styles */
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}
.footnote {
  font-size: 14px;
  line-height: 143%;
}
.textAlignCenter {
  text-align: center;
}

/* Text Colors */

.ant-typography.textInverse,
.textInverse {
  color: var(--white);
}
.ant-typography.textPrimary10,
.textPrimary10 {
  color: var(--primary10);
}
.ant-typography.textPrimary9,
.textPrimary9 {
  color: var(--primary9);
}
.ant-typography.textPrimary8,
.textPrimary8 {
  color: var(--primary8);
}
.ant-typography.textPrimary7,
.textPrimary7 {
  color: var(--primary7);
}
.ant-typography.textPrimary3,
.textPrimary3 {
  color: var(--primary3);
}
.ant-typography.textPrimary2,
.textPrimary2,
.textPrimary2 a,
.textPrimary2 p,
.textPrimary2 span {
  color: var(--primary2);
}
.ant-typography.textPrimary1,
.textPrimary1 {
  color: var(--primary1);
}

/* Text Colors - added in phase 4 */
.ant-typography.geekBlue7,
.geekBlue7 {
  color: var(--geek-blue-7);
}
.ant-typography.textNeutral8,
.textNeutral8 {
  color: var(--neutral8);
}
.ant-typography.textPrimaryBlack,
.textPrimaryBlack {
  color: var(--primary-black);
}

/* Links */
/* a {
  color: var(--primary7);
}
a:hover {
  color: var(--primary6);
}
a:active {
  color: var (--primary7);
} */

/* Responsive Heading and Text font-sizes */
/* Mobile */

@media screen and (max-width: 430px) {
  /* Headings */
  h1.ant-typography {
    font-size: 24px;
    line-height: 133% !important;
  }
  h2.ant-typography {
    font-size: 20px;
    line-height: 160% !important;
  }
  h3.ant-typography {
    font-size: 18px;
    line-height: 178% !important;
  }
  /* Text */
  .ant-typography.textLarge {
    font-size: 16px;
    line-height: 150%;
  }
  .ant-typography {
    font-size: 14px;
    line-height: 143%;
  }
}

/* -------- Buttons */

/* -- Primary */
button.ant-btn.ant-btn-primary {
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary:disabled {
  border-color: var(--neutral5);
}
button.ant-btn.ant-btn-primary:has(:disabled)
  button.ant-btn.ant-btn-primary:not([disabled]):hover,
button.ant-btn.ant-btn-primary:not([disabled]):focus {
  background-color: var(--primary6);
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary:not([disabled]):active {
  background-color: var(--primary7);
  border: 1px solid var(--primary7);
}
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):hover,
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):focus {
  background-color: transparent;
  color: var(--primary6);
  border: 1px solid var(--primary6);
}
button.ant-btn.ant-btn-primary.ant-btn-background-ghost:not([disabled]):active {
  background-color: transparent;
}

/* -- Default */
button.ant-btn.ant-btn-default:not([disabled]):hover,
button.ant-btn.ant-btn-default:not([disabled]):focus {
  border: 1px solid var(--primary5);
  color: var(--primary5);
}
button.ant-btn.ant-btn-default:not([disabled]):active {
  border: 1px solid var(--primary7);
  color: var(--primary7);
}

/* -- Dashed */
button.ant-btn.ant-btn-dashed:not([disabled]):hover,
button.ant-btn.ant-btn-dashed:not([disabled]):focus {
  border: 1px solid var(--primary5);
  color: var(--primary5);
}
button.ant-btn.ant-btn-dashed:not([disabled]):active {
  border: 1px solid var(--primary7);
  color: var(--primary7);
}

/* -- Link */
button.ant-btn.ant-btn-link:not([disabled]):hover,
button.ant-btn.ant-btn-link:not([disabled]):focus {
  color: var(--primary6);
}
button.ant-btn.ant-btn-link:not([disabled]):active {
  color: var(--primary7);
}

/* -- Text */
button.ant-btn.ant-btn-text:not([disabled]):hover,
button.ant-btn.ant-btn-text:not([disabled]):focus {
  background-color: var(--neutral2);
}
button.ant-btn.ant-btn-text:not([disabled]):active {
  background-color: var(--neutral3);
}

/* Button - line-height + font-size */
button.ant-btn {
  line-height: 150%;
}
button.ant-btn.ant-btn-lg {
  line-height: 140%;
  font-size: 20px;
}

/* Button - GoogleSignin */
button.ant-btn.googlebtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* -------- Input */
/* Hover  */
input.ant-input:hover,
.ant-input-number:hover {
  border: 1px solid var(--primary5);
}
/* Focus */
input.ant-input:focus,
input.ant-input-focused,
.ant-input-number:focus,
.ant-input-number-focused {
  border: 1px solid var(--primary5);
  box-shadow: 0px 0px 0px 2px rgba(120, 24, 255, 0.2);
}

/* Input - Line-height + font-size */
input.ant-input,
input.ant-input-number-input {
  font-size: 16px;
  line-height: 22px !important;
}

/* Checkbox */

.ant-checkbox-inner {
  border: 1px solid #595959; /* Stroke color */
  background-color: #FFFFFF; /* Fill color */
}

.ant-checkbox-checked .ant-checkbox-inner {
  border: 1px solid #8145B5; /* Stroke color */
  background-color: #FCFAFC; /* Fill color */
}

.ant-checkbox-wrapper {
  margin: 0px; /* Remove bottom margin */
}

/* Input - TimePicker Large */
.ant-picker.ant-picker-large {
  height: 40px;
}

/* -------- Input Add-on */
/* Add-On - vertically aligns icon */
.ant-input-group-addon,
.ant-input-number-group-addon {
  line-height: 0;
}

/* Add-On - sets default color of icons; for custom colors you can define color
prop inside the phosphor-react component */
.ant-input-group-addon > svg,
.ant-input-number-group-addon > svg {
  color: var(--character-disabled-placeholder);
}

/* Add-On - removes styling from input and addon when in a group*/
.ant-input-number-group > .ant-input-number,
.ant-input-group > .ant-input {
  border: none;
}
.ant-input-number-group > .ant-input-number:hover,
.ant-input-group > .ant-input:hover {
  border: none;
}
.ant-input-number-group > .ant-input-number:focus,
.ant-input-number-group > .ant-input-number-focused,
.ant-input-group > .ant-input:focus {
  border: none;
  box-shadow: none;
}
.ant-input-number-group > .ant-input-number-group-addon,
.ant-input-group > .ant-input-group-addon {
  border: none;
}

.ant-input-number-group > div.ant-input-number:first-child input,
.ant-input-group:first-child:is(input) {
  padding-right: 0px;
}
.ant-input-number-group > div.ant-input-number:last-child input,
.ant-input-group > .ant-input:last-child:is(input) {
  padding-left: 0px;
}

/* Add-on - adds border and box-shadow to ant-input-group + :hover and :focus states*/
.ant-input-wrapper.ant-input-group,
.ant-input-number-wrapper.ant-input-number-group {
  border-radius: var(--border-radius-base);
  border: 1px solid var(--neutral5);
}
.ant-input-wrapper.ant-input-group:hover,
.ant-input-number-wrapper.ant-input-number-group:hover {
  border: 1px solid var(--primary5);
}
.ant-input-wrapper.ant-input-group:focus-within,
.ant-input-number-wrapper.ant-input-number-group:focus-within {
  border: 1px solid var(--primary5);
  box-shadow: 0px 0px 0px 2px rgba(120, 24, 255, 0.2);
}

/* Add-on Search bar icon*/
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]) {
  border: none;
}
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]):hover,
.ant-input-search button.ant-btn.ant-btn-default:not([disabled]):focus {
  border: none;
}

/* Password Input */
.ant-input-affix-wrapper.ant-input-password > input:hover,
.ant-input-affix-wrapper.ant-input-password > input:focus {
  border: none;
}
.ant-input-affix-wrapper.ant-input-password > input {
  border-radius: 0px;
}

/* -------- Modals */
/* Close Button Icon */
.ant-modal-content {
  overflow: hidden;
}
button.ant-modal-close {
  margin: 20px 25px;
}

/* -------- Space */

.vertical {
  flex-direction: column;
}

.align-center {
  align-items: center;
}
.space-1 {
  display: flex;
  gap: 4px;
}
.space-2 {
  display: flex;
  gap: 8px;
}
.space-3 {
  display: flex;
  gap: 12px;
}
.space-4 {
  display: flex;
  gap: 16px;
}
.space-5 {
  display: flex;
  gap: 20px;
}
.space-6 {
  display: flex;
  gap: 24px;
}
.space-7 {
  display: flex;
  gap: 32px;
}
.space-8 {
  display: flex;
  gap: 40px;
}
.space-9 {
  display: flex;
  gap: 48px;
}
.space-10 {
  display: flex;
  gap: 64px;
}
.space-11 {
  display: flex;
  gap: 80px;
}
.space-12 {
  display: flex;
  gap: 96px;
}
.space-13 {
  display: flex;
  gap: 128px;
}
.space-14 {
  display: flex;
  gap: 160px;
}
.space-15 {
  display: flex;
  gap: 192px;
}
.space-16 {
  display: flex;
  gap: 224px;
}
.space-17 {
  display: flex;
  gap: 256px;
}

/* --------- Divider */
.ant-divider.ant-divider-horizontal.ant-divider-with-text,
.ant-divider.ant-divider-horizontal {
  color: var(--character-disabled-placeholder);
  margin: 0px;
}
/* footer divider */
.ant-divider.ant-divider-horizontal.footerDivider {
  background-color: var(--primary6);
}
.ant-divider.ant-divider-horizontal.ant-divider-with-text
  > span.ant-divider-inner-text {
  color: var(--character-secondary);
}

/* --------- Tag */
.ant-tag.tagPrimaryColor {
  background-color: var(--primary1);
  border: 1px solid var(--primary3);
  color: var(--primary6);
}

/* --------- Onboarding */
.onboarding-title-container {
  display: flex;
  align-items: start;
}
.checkbox-container-vertical {
  display: flex;
  flex-direction: column;
  gap: var(space-2);
}

/* Media Queries for responsive design */
/* variables in variables.less take priority over globals.css
If resizing will be required, variables in variables.less will have to be set to :none

ex. if h1 will need to resize from 38px to 30px on mobile, @heading-1-size in variables.less
will need to be cleared using :none and h1.ant-typography be set in globals.
Alternatively, there may be a library that deals with resizing */
/* span.ant-typography {
  font-size: 16px;
}
span.ant-typography.textLarge {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  span.ant-typography {
    font-size: 12px;
  }
  span.ant-typography.textLarge {
    font-size: 18px;
  }
} */

/* @media screen and (max-width: 600px) {
  h2.ant-typography {
    font-size: 14px;
  }
} */

/* Styles to be moved in locally scoped files */

.image_slider_container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.slider_show_case {
  /* width: fit-content; */
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
}
.image_slider {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */

  transition: all 0.5s 0.2s ease;
}

.image_slider_left_arrow {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  font-size: 13.5px;
  cursor: pointer;
}

.image_slider_right_arrow {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  font-size: 13.5px;
  cursor: pointer;
}
.spinner- {
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
