.rec_mentor_container {
  margin-top: 40px;
}
.image_slider_container {
  position: relative;
  overflow: hidden;
}
.title_arrow_container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.slider_show_case {
  overflow: hidden;
  margin: 0 auto;
}
.image_slider {
  display: flex;
  justify-content: space-between;
  transition: all 0.5s 0.2s ease;
}
.image_arrow_container {
  display: flex;
}
.image_slider_left_arrow {
  font-size: 20px;
  cursor: pointer;
}
.image_slider_right_arrow {
  font-size: 20px;
  cursor: pointer;
}
