.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin: auto;
    height: 100vh;
  }

  .padding {
    padding: 20px 0;
  }

  .margin {
    margin: 20px 0;
  }