.footerWrapper {
  display: flex;
  justify-content: center;
  padding: var(--spacing-09) var(--spacing-10); /* 48px 64px */
  background-color: var(--primary8);
}
.footerContainer {
  max-width: 1168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.heading {
  max-width: 800px;
}
.btnContainer {
  display: flex;
  gap: 20px;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contactHeading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.socialsLinksWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.socialsLinks {
  display: flex;
  gap: 24px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--spacing-09) /* 48px */;
  width: var(--spacing-09) /* 48px */;
  background: var(--white);
  border-radius: 50%;
}

.icon {
  color: var(--primary5);
}

.socialIconWrapper {
  gap: 24px;
  line-height: 0;
}

.socialIcon {
  color: var(--white);
}

.contentRow {
  width: 100%;
  max-width: 1020px;
}

.linkWrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 32px;
}
