.section {
  background-color: var(--neutral2);
  display: flex;
  justify-content: center;
  gap: 127px;
  padding: var(--spacing-08) 0;
  margin: var(--spacing-09) 0;
}

.textContainer {
  display: grid;
  justify-content: center;
  align-self: center;
}

.textParagraph {
  width: 555px;
  margin: 40px 0 20px;
}
