.section {
  background-color: var(--neutral2);
  display: flex;
  justify-content: center;
  gap: 127px;
  padding: var(--spacing-08) 0;
  margin: var(--spacing-09) 0;
}

.textContainer {
  display: grid;
  justify-content: center;
  align-self: center;
  max-width: 561px;
}

.textParagraph {
  margin: 40px 0 20px;
}
.sectionImg {
  align-self: center;
  width: 480px;
  height: 480px;
}

@media only screen and (max-width: 430px) {
  .section {
    display: flex;
    flex-direction: column-reverse;
    /* max-width: 375px; */
    padding: 20px 16px 20px;
    gap: 20px;
  }

  .textParagraph {
    margin: 10px 0 10px;
  }
  .becomeButton {
    text-align: center;
    margin-bottom: 10px;
  }
  .sectionImg {
    width: 340px;
    height: 340px;
  }
}
