.nav_container {
  display: flex;
  /* gap: 60px; */
  justify-content: space-around;
  align-items: center;
  padding: 16px 32px 16px 32px;
}

.search_input {
  max-width: 510px;
}
.search_input:focus {
  background-color: #e9e6f0;
}

.hamburger_menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 16.5px;
  width: 24.75px;
}
.hamburger_bdr {
  background-color: #706685;
  height: 2.5px;
}

.hamburger_bdr_2 {
  width: 22px;
  height: 2.5px;
}
