.section {
  margin-top: 48px;
  padding: 64px 0;
  background-color: var(--white);
}

.sectionContainer {
  max-width: 925px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 48px;
}
