.section {
  background-color: var(--neutral2);
  display: flex;
  justify-content: center;
  gap: 127px;
  padding: var(--spacing-08) 0;
  margin-top: var(--spacing-09);
}

.textContainer {
  display: grid;
  justify-content: center;
  align-self: center;
}

.textParagraph {
  width: 555px;
  margin: 40px 0 20px;
}

@media only screen and (max-width: 375px) {
  .section {
    display: block;
    text-align: center;
  }
  .sectionImg {
    width: 340px;
    height: 340px;
  }
  .textParagraph {
    width: 375px;
    margin: 40px 0 20px;
  }
}
