.footerWrapper {
  display: flex;
  justify-content: center;
  padding: 48px 64px;
  background-color: var(--primary8);
}
.footerContainer {
  max-width: 1168px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.heading {
  max-width: 800px;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  background: var(--white);
  border-radius: 50%;
}

.icon {
  color: var(--primary5);
}

.socialIconWrapper {
  gap: 24px;
  line-height: 0;
}

.socialIcon {
  color: var(--white);
}

.contentRow {
  width: 100%;
  max-width: 1020px;
}

.linkWrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
}
