.section {
  background-image: url("/images/index/leaf-background-landing.png");
  /* background-position: center; */
  display: flex;
  justify-content: space-between;
  background-color: var(--primary1);
  height: 598px;
}

.heroImg {
  width: 850px;
  height: 598px;
  object-fit: fill;
}

.textContainer {
  padding: 88px 0 0 136px;
  width: 795px;
}

.textTitle {
  /* margin: 0 auto;
  text-align: center; */
  margin-bottom: 24px;
  width: 538px;
}
.textParagraph {
  width: 538px;
}
.menteeMentorButtons {
  display: flex;
  gap: 10px;
  margin-top: 40px;
  width: 538px;
}
