.section {
  display: flex;
  background-color: var(--primary1);
  padding: 70px 20px 88px;
}

.storyContainer {
<<<<<<< Updated upstream
  display: flex;
  width: 1072px;
=======
  width: fit-content;
>>>>>>> Stashed changes
  margin: 0 auto;
  display: flex;
  gap: 48px;
}

.textContainer {
  text-align: start;
}

<<<<<<< Updated upstream
@media screen and (max-width: 425px){
  .section{
    width:450px
  }
  .storyContainer{
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
=======

@media only screen and (max-width: 430px) {
  
  .section{
    min-width: 375px;
  }
  
  .storyContainer {
  flex-direction: column;
  width: fit-content;
  align-items: center;
  }



>>>>>>> Stashed changes
}