.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
    padding: 50px;
}

.padding {
    padding: 10px 0;
}

.margin {
    margin: 10px 0;
}

.ant-input-number-input[placeholder] {
    text-align: center;
}